<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value>System</value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <appSettings>
    <add key="Modules" value="" />
    <add key="NewVersionServer" value="" />
    <add key="EnableDiagnosticActions" value="False" />
    <add key="eXpressAppFrameworkTraceLevel" value="3" />
    <add key="Languages" value="vi-VN" />
  </appSettings>
  <connectionStrings>
    <add name="EasyTestConnectionString" connectionString="Host=ep-plain-hall-a1ko9d1j-pooler.ap-southeast-1.aws.neon.tech;Database=database-01;Username=neondb_owner;Password=npg_0ly1PDeEAMIK;SSL Mode=Require;Trust Server Certificate=true" providerName="System.Data.SqlClient"/>
    <!--<add name="ConnectionString" connectionString="Integrated Security=SSPI;MultipleActiveResultSets=True;Data Source=(localdb)\mssqllocaldb;Initial Catalog=DXApplication3" providerName="System.Data.SqlClient" />-->
    <!--<add name="ConnectionString" connectionString="Host=db.yejizukiljbbwdvipyvh.supabase.co;Database=postgres;Username=postgres;Password=Demama@2023;SSL Mode=Require;Trust Server Certificate=true" providerName="System.Data.SqlClient" />-->
    <add name="ConnectionString" connectionString="Host=ep-plain-hall-a1ko9d1j-pooler.ap-southeast-1.aws.neon.tech;Database=database-01;Username=neondb_owner;Password=npg_0ly1PDeEAMIK;SSL Mode=Require;Trust Server Certificate=true" providerName="System.Data.SqlClient" />

    <!--
    Use the following connection string to connect to a Jet (Microsoft Access) database:
    <add name="ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Password=;User ID=Admin;Data Source=DXApplication3.mdb;Mode=Share Deny None;"/>
    -->
  </connectionStrings>
</configuration>
